@model efcore_test.Models.Employee;

@{
    ViewData["Title"] = "Info";
}

<div>
    <p>Идентификатор: @Model.Id</p>
    <p>Имя: @Model.FirstName</p>
    <p>Фамилия: @Model.LastName</p>
    <p>Возраст: @Model.Age</p>
</div>

